.pTitles {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 2%;
  }
  
  .cardss {
    width: 18.8%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .headers {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .alens {
    width: 50%;
    width: 50%;
    display: flex;
    gap: 3%;
  }
  
  .cardcs {
    display: flex;
    width: 84%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 10px;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    padding: 20px;
    gap: 5px;
  }
  
  .cardc1s {
    font-weight: 600;
    font-size: 13px;
    color: #808080;
  }
  
  .cardc2s {
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 2%;
  }
  
  .cardc3s {
    display: flex;
    color: #333;
    font-size: 12px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
  
  .status_logos {
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.1);
    border-radius: 2px;
    width: 15px;
  }
  
  .titles {
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.1);
    border-radius: 2px;
    padding: 0 10px;
  }
  
  .sdots {
    width: 50%;
    display: flex;
    justify-content: right;
    gap: 10%;
  }
  